<div class="title">
  Форма регистрации
</div>

<form (ngSubmit)="join()" #f="ngForm">
  <div class="form-group">
    <label for="userName">Имя</label>
    <input
      type="text"
      name="userName"
      id="userName"
      required
      ngModel
      #userNameInput="ngModel"
    />
    <small *ngIf="userNameInput.touched && userNameInput.errors?.required">
      Введите имя
    </small>

  </div>
  <div class="form-group">
    <label for="surname">Фамилия</label>
    <input
      type="text"
      name="surname"
      id="surname"
      required
      ngModel
      #userSurnameInput="ngModel"
    />
    <small *ngIf="userSurnameInput.touched && userSurnameInput.errors?.required">
      Введите фамилию
    </small>
  </div>
  <div class="form-group">
    <label for="middleName">Отчество</label>
    <input
      type="text"
      name="middleName"
      id="middleName"
      required
      ngModel
      #middleNameInput="ngModel"
    />
    <small *ngIf="middleNameInput.touched && middleNameInput.errors?.required">
      Введите отчество
    </small>
  </div>
  <div class="form-group">
    <label for="phone">Номер телефона в формате +996XXXYYYYYY</label>
    <input
      type="text"
      name="phone"
      id="phone"
      required
      appPhone
      ngModel
      #phoneInput="ngModel"
    />
    <small *ngIf="phoneInput.touched && phoneInput.errors?.required">
      Введите номер телефона
    </small>
    <small *ngIf="phoneInput.touched && phoneInput.errors?.phone">
      Введите номер телефона в формате +996XXXYYYYYY
    </small>
  </div>
  <div class="form-group">
    <label for="job">Место работы</label>
    <input
      type="text"
      name="job"
      id="job"
      required
      ngModel
      #jobInput="ngModel"
    />
    <small *ngIf="jobInput.touched && jobInput.errors?.required">
      Введите место работы
    </small>
  </div>
  <div class="form-group">
    <label>Вариант футболки</label>
    <div class="radio">
      <input
        type="radio"
        name="tshirt"
        value="male"
        ngModel
        #tshirtInput="ngModel"
      />
      <span>мужская</span>
    </div>
    <div class="radio">
      <input
        type="radio"
        name="tshirt"
        value="female"
        ngModel
        #tshirtInput="ngModel"
      />
      <span>женская</span>
    </div>
    <small *ngIf="tshirtInput.errors?.required">
      Выберите вариант футболки
    </small>
  </div>
  <div class="form-group">
    <label for="size">Размер футболки</label>
    <select name="size" id="size" ngModel required #sizeInput="ngModel">
      <option value="">Select size</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
    </select>
    <small *ngIf="sizeInput.touched && sizeInput.errors?.required">
      Выберите размер футболки
    </small>
  </div>
  <div class="form-group">
    <label for="comment">Комментарии</label>
    <textarea
      name="comment"
      id="comment"
      ngModel
      required
      maxlength="300"
      #commentInput="ngModel"
    ></textarea>
    <small *ngIf="commentInput.touched && commentInput.errors?.required">
      Поле обязательно для заполнения
    </small>
    <small *ngIf="commentInput.touched && commentInput.errors?.maxlength">
      Привышено максимальное кол-во символов (300)
    </small>
  </div>


  <button [disabled]="f.invalid" class="green" type="submit" >
    Save
  </button>
</form>
