input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input,select {
  height: 34px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
label {
  margin-bottom: 4px;
}
small {
  margin-top: 2px;
  color: red;
}
.radio {
  display: flex;
  align-items: center;
}
